{% extends 'boardgame_site/base.html' %}

{% block page_header %}
<h3>{{ game }}</h3>
{% endblock page_header %}


{% block content %} 

<p>Game title: {{ game }}</p>
<p>Is available to lend: {{ game.available_to_lend }}</p>
<p>Owner: {{ game.owner }}</p>
<p>Genres: {{ game.genres }}</p>
<p>Summary: {{ game.summary }}</p>
<p>Date added: {{ game.date_added|date:'M d, Y H:i' }}</p>

<p>
    <a href="">Lend game</a> -
    <a href="{% url 'boardgame_site:edit_game' game.id %}">Edit game</a> -
    <a href="{% url 'boardgame_site:delete_game' game.id %}">DELETE game</a>
</p>

{% endblock content %}



