{% extends 'boardgame_site/base.html' %}

{% block page_header %}
<h4>
    <p>Here you can see all the games. And if logged in lend and add new ones!</p>

    <p>
        {% if user.is_authenticated %}
        <a href="{% url 'boardgame_site:new_game' %}">Add a new game</a>
        {% endif %}
    </p>
</h4>
{% endblock page_header %}


{% block content %}


<h4>
    <p>List of all avaible games</p>
</h4>

<ul>
    {% for game in games %}
    <div class="card mb-3">
        <h4 class="card-header">
            <a href="{% url 'boardgame_site:game' game.id %}">{{ game.name }}</a>
        </h4>
        <div class="card-body">
            <p>Owner: {{ game.owner }}</p>
            <p>Genres: {{ game.genres }}</p>
            <p>Summary: {{ game.summary }}</p>
            Date added: {{ game.date_added|date:'M d, Y H:i' }}
            {% if game.owner == request.user %}
            - <a href="{% url 'boardgame_site:edit_game' game.id %}">Edit game</a>
            {% endif %}

            {% if user.is_authenticated %}

                {% if loanCount < 3 %}
                    - <a href="{% url 'boardgame_site:lend_game' game.id %}">Lend game</a>
                {% else %}
                    - You can only loan 3 games at a time. Go return some to lend more!
                {% endif %}
            
            {% endif %}

        </div>
    </div>
    {% empty %}
    <li>There are no games yet.</li>
    {% endfor %}

    {% endblock content %}





