{% extends 'boardgame_site/base.html' %}


{% block page_header %}
<h1>List of all lends</h1>
{% endblock page_header %}

{% block content %}
{% if user.is_authenticated %}


    {% for lend in lends %}
        <div class="card mb-3">
        <h3 class="card-header">{{ lend.game.name }}</h3>
        <div class="card-body">
        <p>Lender: {{ lend.lender }}</p>
        <p>Lend start date: {{ lend.lend_start_date }}</p>
        <p>Return date: {{ lend.return_date }}</p>
        </div>
        </div>

    {% empty %}
    <li>No one is curretly lending games. So all are available for you :) </li>
    {% endfor %}


{% endif %}




{% endblock content %}

